@page "/PostListBody"
@using PomeloButterBlog.Common.Models
@inject BlogApi Api
@inject NavigationManager NavigationManager

<div class="main">
    @if (_models != null)
    {
        <div class="post-wrap archive">
            @foreach (var item in _models)
            {
                <h3>@item.Year</h3>
                foreach (var post in item.Posts)
                {
                    <article class="archive-item">
                        <a class="archive-item-link" href="@BuildPostDetailsLink(post.Url)">@post.Title</a>

                        <span class="archive-item-date">@post.CreationTime</span>
                    </article>
                }
            }
        </div>
        <nav class="pagination">
            @for (var i = 1; i <= _totalPages; ++i)
            {
                if (PageIndex == i)
                {
                    <span class="page-number current">@i</span>
                }
                else
                {
                    <a class="page-number" href="@BuildLink(i)">@i</a>
                }
            }
        </nav>
    }

</div>

@code {

    [Parameter]
    public string Tag { get; set; }

    [Parameter]
    public string Calalog { get; set; }

    [Parameter]
    public int PageIndex { get; set; }

    int _totalPages;

    IEnumerable<PostViewModel> _models;

    protected override async Task OnInitializedAsync()
    {
        PageIndex = PageIndex == 0 ? PageIndex = 1 : PageIndex;
        Tag = Tag;
        Calalog = Calalog;
        var result = await Api.GetPostListAsync(Tag, Calalog, PageIndex);
        _models = result.Data;
        _totalPages = result.TotalPage;
    }
    protected override async Task OnParametersSetAsync()
    {
        var result = await Api.GetPostListAsync(Tag, Calalog, PageIndex);
        _models = result.Data;
        _totalPages = result.TotalPage;

    }
    private  string BuildLink(int pageIndex)
    {
        var link = "/Posts/";
        if (!string.IsNullOrEmpty(Tag))
        {
            link = link + $"Tags/{Tag}/";
        }
        else if (!string.IsNullOrEmpty(Calalog))
        {
            link = link + $"Categories/{Calalog}/";
        }
        if (pageIndex > 0)
        {
            link = link + $"{pageIndex}";
        }
        return link;
    }

    private string BuildPostDetailsLink(string url)
    {
        var link = "/PostDetails/";
        if (!string.IsNullOrEmpty(url))
        {
            link = link + $"{url}";
        }
        return link;
    }


}